body {
  background-color: #eee;
  color: #555;
}

.todolist {
  background-color: #fff;
  padding: 20px 20px 10px 20px;
  width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  border-radius: 2px;
  position: relative;
}

.todolist h1 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.list-group-flush > .list-group-item {
  padding: 8px 0px;
}

.todo-footer {
  border-top: 1px solid #ddd;
  background-color: #f4fce8;
  margin: 0 -20px -10px -20px;
  padding: 10px 20px;
}

.add-todo {
  margin: 10px 0px;
}

.alert {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
}

li.completed label {
  text-decoration: line-through;
  color: #aaa;
}

.todo-footer .buttons {
  border-right: 1px solid #ccc;
  margin-right: 15px;
  padding-right: 10px;
  height: 20px;
}

.buttons .button {
  display: inline-block;
  margin: 0 5px;
  height: 18px;
  width: 18px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s all;
}

.buttons .button:hover, .buttons .button.selected {
  opacity: 1;
  border-color: #ddd;
}

.buttons .add {
  background: url(./assets/add.svg) no-repeat center;
}

.buttons .search {
  background: url(./assets/search.svg) no-repeat center;
}